In [1]:
import os
from pathlib import Path
from glob import glob
import pandas as pd

In [2]:
current_path = Path(os.getcwd())
root = current_path.parent.absolute()
data_folder = str(root) + "\\raw data\\"

In [17]:
types = ["xlsx", "csv", "xls"]

os.chdir(data_folder)

tanguy = {}

print("-- XLSX FILES --")
for file_path in glob("*.xlsx"):
    file_name = file_path.split(".")[0]
    
    print(file_name + " sheets:")
    
    file = pd.ExcelFile(file_path)
    for sheet in file.sheet_names:
        print("-->"+sheet)
        tanguy[sheet] = file.parse(sheet)
    print()
    
    
print("\n-- XLS FILES --") 
for file_path in glob("*.xls"):
    file_name = file_path.split(".")[0]
    
    print(file_name + " sheets:")
    
    file = pd.ExcelFile(file_path)
    for sheet in file.sheet_names:
        print("-->"+sheet)
        tanguy[sheet] = file.parse(sheet)
    print()
    
print("\n-- CSV FILES --") 
for file_path in glob("*.csv"):
    file_name = file_path.split(".")[0]
    print(file_name)
    file_df = pd.read_csv(file_path)
    tanguy[file_name] = file_df

-- XLSX FILES --
Betting Against Beta Original Paper Data sheets:
-->BAB factors

bloom_data_2 sheets:
-->CL1
-->CL2
-->CL3
-->Euribor3
-->Bund10
-->FUTURES MATURITIES

Quality Minus Junk Factors Daily sheets:
-->QMJ Factors
-->HML Devil

Value and Momentum Everywhere Factors Monthly sheets:
-->VME Factors


-- XLS FILES --
sentiment sheets:
-->SENTIMENT


-- CSV FILES --
F-F_Momentum_Factor_daily
F-F_Research_Data_5_Factors_2x3_daily
F-F_ST_Reversal_Factor_daily

In [18]:
tanguy.keys()

dict_keys(['BAB factors', 'CL1', 'CL2', 'CL3', 'Euribor3', 'Bund10', 'FUTURES MATURITIES', 'QMJ Factors', 'HML Devil', 'VME Factors', 'SENTIMENT', 'F-F_Momentum_Factor_daily', 'F-F_Research_Data_5_Factors_2x3_daily', 'F-F_ST_Reversal_Factor_daily'])

In [19]:
tanguy["SENTIMENT"]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,"American Association of Individual Investors 625 N. Michigan Ave., Chicago, IL. 60611; (312) 280-0170; www.aaii.com",Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Reported data,Bullish,Neutral,Bearish,Total,Bullish 8-week Mov Avg,Bull-Bear Spread,S&P 500 Weeky High,S&P 500 Weekly Low,S&P 500 Weekly Close
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1987-06-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1987-07-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,314.59,307.63,314.59
...,...,...,...,...,...,...,...,...,...,...
1790,2021-10-21 00:00:00,0.4689,0.253589,0.277512,1.000001,0.369772,0.191388,4540.87,4386.75,4536.19
1791,2021-10-27 00:00:00,0.398268,0.307359,0.294372,0.999999,0.36775,0.103896,4598.53,4524,4551.68
1792,2021-11-04 00:00:00,0.415,0.325,0.26,1,0.368357,0.155,4683,4562.84,4671.08
1793,2021-11-11 00:00:00,0.48,0.28,0.24,1,0.371632,0.24,4718.5,4630.86,4646.05
1794,2021-11-18 00:00:00,0.388393,0.339286,0.272321,1,0.370881,0.116072,4714.95,4648.31,4688.67

In [25]:
tanguy['BAB factors']

,Date,BAB U.S. Equities,BAB International Equities,BAB U.S. Treasury Bonds,BAB U.S. Credit Indices,BAB U.S. Credit Indices (hedged),BAB U.S. Corporate Bonds,BAB Equity Indices,BAB Country Bonds,BAB Foreign Exchange,BAB Commodities,BAB All Assets
0,192601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,192602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,192603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,192604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1030,201111,0.005024,-0.003511,-0.002533,-0.000115,0.002302,-0.005171,-0.010160,0.001127,0.015445,-0.017467,-0.000487
1031,201112,0.018002,-0.014703,-0.004352,-0.006718,-0.004888,0.016589,0.017178,-0.001785,0.018707,-0.050767,-0.006365
1032,201201,0.005713,-0.038310,0.006599,0.006425,0.007158,0.010098,-0.001787,0.000409,0.010984,-0.035288,-0.017752
1033,201202,0.029880,0.008182,-0.005198,0.002687,0.000916,-0.007465,0.021729,0.003186,-0.043234,0.014729,0.005453
1034,201203,0.049029,0.016863,0.004151,0.006495,0.002884,-0.014041,0.013963,-0.001306,-0.005775,-0.037657,0.011914

In [27]:
tanguy["CL1"] = tanguy["CL1"].set_index("Unnamed: 0")
tanguy["CL1"].index.names = ["Date"]
tanguy["CL1"]

            PX_OPEN  PX_HIGH  PX_LOW  PX_LAST  PX_VOLUME
Date
2000-01-04    25.20    25.69   24.71    25.55    76965.0
2000-01-05    25.50    25.61   24.86    24.91    74421.0
2000-01-06    24.80    25.34   24.51    24.78    87705.0
2000-01-07    24.65    25.00   24.15    24.22    93857.0
2000-01-10    24.15    24.75   24.02    24.67    71923.0
...             ...      ...     ...      ...        ...
2021-05-18    66.33    67.01   64.11    65.49   167348.0
2021-05-19    65.28    65.35   61.95    63.36   101902.0
2021-05-20    63.39    63.96   61.89    62.05    29619.0
2021-05-21    61.89    64.07   61.56    63.58   530831.0
2021-05-24    63.87    66.14   63.63    66.05   466647.0

[5378 rows x 5 columns]

In [29]:
tanguy["Euribor3"] = tanguy["Euribor3"].set_index("Unnamed: 0")
tanguy["Euribor3"].index.names = ["Date"]
tanguy["Euribor3"]

KeyError: "None of ['Unnamed: 0'] are in the columns"

In [31]:
tanguy["Bund10"] = tanguy["Bund10"].set_index("Unnamed: 0")
tanguy["Bund10"].index.names = ["Date"]
tanguy["Bund10"]

            PX_LAST
Date
2000-01-03    5.478
2000-01-04    5.492
2000-01-05    5.516
2000-01-06    5.545
2000-01-07    5.443
...             ...
2021-05-18   -0.103
2021-05-19   -0.110
2021-05-20   -0.109
2021-05-21   -0.130
2021-05-24   -0.140

[5580 rows x 1 columns]

In [32]:
tanguy["FUTURES MATURITIES"]

,UX1 Index date,UX1 Index futures,UX1 Index maturity date,UX2 Index date,UX2 Index futures,UX2 Index maturity date,UX3 Index date,UX3 Index futures,UX3 Index maturity date,FVS1 Index date,...,FVS3 Index maturity date,CL1 Comdty date,CL1 Comdty futures,CL1 Comdty maturity date,CL2 Comdty date,CL2 Comdty futures,CL2 Comdty maturity date,CL3 Comdty date,CL3 Comdty futures,CL3 Comdty maturity date
0,2004-03-26,UXK04,5/18/2004,2004-03-26,UXM04,6/15/2004,2004-03-26,UXN04,7/13/2004,2009-06-02,...,8/19/2009,2000-01-04,CLG00,1/20/2000,2000-01-04,CLH00,2/22/2000,2000-01-04,CLJ00,3/21/2000
1,2004-03-29,UXK04,5/18/2004,2004-03-29,UXM04,6/15/2004,2004-03-29,UXN04,7/13/2004,2009-06-03,...,8/19/2009,2000-01-05,CLG00,1/20/2000,2000-01-05,CLH00,2/22/2000,2000-01-05,CLJ00,3/21/2000
2,2004-03-30,UXK04,5/18/2004,2004-03-30,UXM04,6/15/2004,2004-03-30,UXN04,7/13/2004,2009-06-04,...,8/19/2009,2000-01-06,CLG00,1/20/2000,2000-01-06,CLH00,2/22/2000,2000-01-06,CLJ00,3/21/2000
3,2004-03-31,UXK04,5/18/2004,2004-03-31,UXM04,6/15/2004,2004-03-31,UXN04,7/13/2004,2009-06-05,...,8/19/2009,2000-01-07,CLG00,1/20/2000,2000-01-07,CLH00,2/22/2000,2000-01-07,CLJ00,3/21/2000
4,2004-04-01,UXK04,5/18/2004,2004-04-01,UXM04,6/15/2004,2004-04-01,UXN04,7/13/2004,2009-06-08,...,8/19/2009,2000-01-10,CLG00,1/20/2000,2000-01-10,CLH00,2/22/2000,2000-01-10,CLJ00,3/21/2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5424,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,...,NaN,2021-08-06,CLU1,#N/A Invalid Security,2021-08-06,CLV1,#N/A Invalid Security,2021-08-06,CLX1,10/20/2021
5425,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,...,NaN,2021-08-09,CLU1,#N/A Invalid Security,2021-08-09,CLV1,#N/A Invalid Security,2021-08-09,CLX1,10/20/2021
5426,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,...,NaN,2021-08-10,CLU1,#N/A Invalid Security,2021-08-10,CLV1,#N/A Invalid Security,2021-08-10,CLX1,10/20/2021
5427,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,...,NaN,2021-08-11,CLU1,#N/A Invalid Security,2021-08-11,CLV1,#N/A Invalid Security,2021-08-11,CLX1,10/20/2021
5428,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,...,NaN,2021-08-12,CLU1,#N/A Invalid Security,2021-08-12,CLV1,#N/A Invalid Security,2021-08-12,CLX1,10/20/2021